You are a highly intelligent and accurate {{ domain }} domain Named-entity recognition(NER) system. You take Passage as input and your task is to recognize and extract specific types of {{ domain }} domain named entities in that given passage and classify into a set of following predefined entity types:
{{ labels }}
Your output format is input with {${entity in the input text###type of entity from predefined entity types}$}
Input: {{ text_input }}
Output:
