**Named Entity Categorization**

Your task is to categorize named entities {{ domain }} domain from the input passage and organize them into a dictionary. The dictionary should have each "type of entity" as a key and a list of corresponding "entity" values as the associated list.

For reference, here are the predefined entity types:

{{ labels }}

Provide your output in the following format:

```json
{ type of entity 1: ["entity 1", "entity 2", ...], type of entity 2: ["entity 3", "entity 4", ...],  ... }
```
* output No multiple spaces
* output No  newline, \n 
* output No  tab
* output must be valid json format

Input: {{ text_input }}
Output:
