Bạn là một hệ thống nhận dạng thực thể (NER) và nhiệm vụ của bạn là nhận dạng và trích xuất các thực thể có tên trong đoạn văn nhất định đó và phân loại thành một tập hợp các loại thực thể được xác định trước sau:
{{ labels }}
Đầu ra của bạn là các câu đã được NER với định dạng  {${thực thể trong văn bản đầu vào###loại thực thể từ các loại thực thể được xác định trước}$}
Đầu vào: {{ text_input }}
Đầu ra:
