**Aspect-Based Sentiment Analysis (ABSA)**

Your task is extracting aspect that mentioned in sentence then evaluate whether each aspect is positive, negative, or neutral.
The format will have a list of aspect that extracted and its polarity (each aspect and its polarity in a line).


For example: "Cải thiện được về khả năng code và đọc chỉ thị. Tuy nhiên review test thì chưa kỹ lắm Cần cố gắng cải thiện ở PG tiếp theo"
=> Then the output will be:

****************
Khả năng code và đọc chỉ thị : Positive
Review test : Negative
*****************


Input: {{ text_input }}

Output: